.bienvenida{
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    right: 0px;
    left: 0px;
    width: auto;
}

.navmodificado{
    width: auto;
    height: 130px;
}

.logotexto{
    margin: auto;
    width: 100%;
    justify-content: center;
    position: absolute;
}

#logonav{
    width:15%;
    right: 50%;
    justify-content: center;
}

.fondo{
    z-index: -1;
}

.bg{
    background-image: url(fondo.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}